<?xml version="1.0" encoding="UTF-8"?>
<CONFIG>
  <LOG>
    <FOLDER TYPE="string"> Log </FOLDER>
    <WRITE TYPE="INT"> 1 </WRITE>
    <LEVEL TYPE="INT">  1 </LEVEL>
  </LOG>
  <GSM>
    <GAMEID TYPE="INT"> 36 </GAMEID>
    <SERVERID TYPE="INT"> 1 </SERVERID>
    <ADDR TYPE="string"> 222.231.10.224 </ADDR>
    <PORT TYPE="int"> 10063 </PORT>
    <SOCKET TYPE="int"> 2 </SOCKET>
    <CIPHER TYPE="int"> 0 </CIPHER>
    <VERSION TYPE="int"> 20070405 </VERSION>
    <RECONNECTTIME TYPE="int"> 20 </RECONNECTTIME>
  </GSM>
  <SYSTEM>
    <POINTCATEGORY TYPE="INT"> 1 </POINTCATEGORY>
    <USECOININTERFACE TYPE="INT"> 1 </USECOININTERFACE>
  </SYSTEM>

</CONFIG>